behave==1.2.6
docstring_parser==0.16
fastapi==0.115.13
openapi-pydantic==0.5.1
parse==1.20.2
parse_type==0.6.4
pycparser==2.22
pydantic==2.11.5
pydantic-settings==2.9.1
pydantic_core==2.33.2
sse-starlette==2.3.6
starlette==0.46.2
uvicorn[standard]
requests==2.31.0
